{% include 'header.html' %}

<div class="ui main container">
    <h1 class="ui header">Dashboard</h1>
    <p>Dashboard ini ditujukan untuk memperlihatkan data penggunaan Bot LINE Samantha</p>
</div>

<div id='graphs' class="ui two column stackable grid container">
    <div class="column">
        <canvas id="timestampCount" width="560" height="300"></canvas>
    </div>
    <div class="column">
        <canvas id="commandsCount" width="560" height="300"></canvas>
    </div>
</div>


<div class="ui tables container">

    <table id="full-history-table" class="ui celled table">
        <thead>
            <th>Timestamp</th>
            <th>Display Name</th>
            <th>Command Used</th>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td data-label="Timestamp">{{row[0]}}</td>
                <td data-label="Display Name">{{row[1]}}</td>
                <td data-label="Command Used">{{row[2]}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>


<script>
    var ctx = $('#timestampCount');
    var dates = JSON.parse({{ timestamp_axis | tojson | safe}})
    var timechart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [{
                label: 'Jumlah',
                backgroundColor: 'rgb(230, 230, 230)',
                borderColor: 'rgb(200, 200, 200)',
                pointRadius: 0,
                data: {{ timestamp_values }},
        lineTension: 0.1,
    }]
        },
    options: {            
        title: {
            display: true,
            text: "Tren penggunaan 2 bulan terakhir"
        },
        tooltips: {
            intersect: false,
        },
        scales: {
            xAxes: [{
                type: 'time',
                time: {
                    unit: 'week',
                }
            }],                
            yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        precision: 0,
                    }
            }]
        }
    }
    });
    
    var ctx2 = $('#commandsCount');
    var commandNames = JSON.parse({{ commands_axis | tojson | safe}})
    var barchart = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: commandNames,
            datasets: [{
                label: 'Jumlah',
                data: {{ commands_values }},
                borderWidth: 1
                    }],
                backgroundColor: 'rgb(230, 230, 230)',
                borderColor: 'rgb(200, 200, 200)',
                },
        options: {
            title: {
                display: true,
                text: "Command yang paling sering digunakan"
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
        });
</script>

{% include 'footer.html' %}