{% include 'header.html' %}

<div class="ui main container">
    <h1 class="ui header">Dashboard</h1>
    <p>Dashboard ini ditujukan untuk memperlihatkan data penggunaan Bot LINE Samantha</p>
</div>

<div class="ui container">
    <canvas id="commandsUsed" width="900" height="300"></canvas>
</div>


<div class="ui tables container">

    <table id="full-history-table" class="ui celled table">
        <thead>
            <th>Timestamp</th>
            <th>Display Name</th>
            <th>Command Used</th>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td data-label="Timestamp">{{row[0]}}</td>
                <td data-label="Display Name">{{row[1]}}</td>
                <td data-label="Command Used">{{row[2]}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>


<script>
    var ctx = $('#commandsUsed');
    var dates = JSON.parse({{axis|tojson|safe}})
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [{
                label: 'Jumlah command yang digunakan',
                backgroundColor: 'rgb(230, 230, 230)',
                borderColor: 'rgb(200, 200, 200)',
                data: {{values}},
                lineTension: 0.25,
            }]
        },
        options: {
            scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'month',
                        }
                    }]
            }
        }
    });
</script>
{% include 'footer.html' %}